@import "tailwindcss";

:root {
  --header-height: 80px;
}

body {
  padding-top: var(--header-height);
  margin: 0;
}

main {
  min-height: calc(100vh - var(--header-height));
}
/* Ajout pour uniformiser les inputs */
input {
  color: white;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #ef4444; /* Rouge de votre bouton */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supprime les marges par défaut pour éviter la bande blanche */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827; /* Couleur gris très foncé */
  color: white;
}
